
.container-btn{
    width: 150px;
    background-color: #185c91;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;


}

.container-btn .text-button{
    color: #FFF;
    font-size: 24px;
}

.container-btn:first-child{
    margin-left: 10px;
}
