
.container-btn .text-button{
    color: #FFF;
    font-size: 24px;
}

.container-btn:first-child{
    margin-left: 10px;
}

.text-button{
    width: 150px;
    background-color: #185c91;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}

@media (max-width: 575.98px) {
    .container-btn .text-button{
        font-size: 18px;
    }
    .container-btn{
        margin: 10px 0;
    }
    .text-button{
        width: 140px;
    }
    .container-btn:first-child{
        margin-left: 0;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .container-btn .text-button{
        font-size: 16px;
    }
    .text-button{
        width: 120px;
    }
}