.container-sobre {

    width: 100%;
    height: 100vh;
    background-image: url('../../assets/bg.png');
    background-size: cover;
    z-index: -1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.titulo{
   
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #185c91;
}
.area-card{
   display: flex;
   justify-content: center;
   align-items: center;

   width: 100%;
   flex-direction: column;

}

.grupo1{
    display: flex;
    margin-bottom: 30px;
    
}

.voltar{
    text-decoration: none;
    font-size: 48px;
    font-weight: bold;
    border: 4px solid #185c91;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #185c91;

}

.voltar:hover{
    opacity: 0.7;
}